
.contenido, .contenido1, .contenidoBrujas, .contenidoH1, .contenidoH2 {
    background-color: $background-color;
  }
  
  .contenido1 {
    color: #ffcad4;
    font-size: larger;
  }
  
  .texto1 {
    margin: 20px;
    text-align: justify;
    font-size: 30px;
    border-radius: 2rem;
  }
  
  .textoimagendem {
    display: flex;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    color: red;
  }
  
.historias{
    color: #132a13;
    background-color: #a3b18a;
    margin: 50px;
    border: 3px ridge #04127d;
    width: 500px;
    padding:20px 20px 20px 20px;
    grid-area: historias;
}
  