@media (min-width: 700px) {
    .titulo {
      color: $secondary-color;
    }
  
    .titulo2 {
      color: $primary-color;
    }
  
    .texto1 {
      margin: 20px;
      text-align: justify;
      font-size: 30px;
      border-radius: 2rem;
      display: flex;
    }
  
    .imagen2 {
      border-radius: 2rem;
      margin: 10px;
    }
  
    
    @for $i from 1 through 5 {
      .link-size-#{$i} {
        font-size: $i * 2 + 10px;
      }
    }
  }
  